.homePageChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 94.5rem;
  height: 61.38rem;
}
.ellipseDiv,
.homePageChild1,
.homePageInner,
.homePageItem {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-seagreen);
  filter: blur(200px);
  width: 18.75rem;
  height: 18.75rem;
}
.homePageItem {
  top: 0;
  left: 0;
}
.ellipseDiv,
.homePageChild1,
.homePageInner {
  top: 16.63rem;
  left: 41.5rem;
}
.ellipseDiv,
.homePageChild1 {
  top: 30.69rem;
  left: 11.56rem;
  background-color: var(--color-sandybrown);
}
.homePageChild1 {
  top: 26rem;
  left: 75rem;
}
.rectangleDiv {
  position: absolute;
  top: 6.44rem;
  left: calc(50% - 648px);
  border-radius: 52px;
  background: linear-gradient(
    180deg,
    rgba(55, 112, 6, 0.22) 11.22%,
    rgba(127, 172, 88, 0.14) 44.27%,
    rgba(106, 143, 74, 0.09)
  );
  box-shadow: -2px -4px 4px rgba(0, 0, 0, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  width: 81rem;
  height: 47.81rem;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 94.5rem;
  height: 61.38rem;
  object-fit: cover;
}
.istockphoto1180581523612x612Icon,
.leafPlantLeavesFlowerPngFIcon {
  position: absolute;
  top: 12.31rem;
  left: 62.19rem;
  width: 34.5rem;
  height: 28.25rem;
  object-fit: cover;
}
.istockphoto1180581523612x612Icon {
  top: 31.06rem;
  left: 41.88rem;
  width: 52.63rem;
  height: 30.31rem;
  opacity: 0.5;
}
.istockphoto1180581523612x612Icon1 {
  position: absolute;
  top: 35.81rem;
  left: 47.56rem;
  width: 35.75rem;
  height: 27.25rem;
  object-fit: cover;
}
.plantsMakeA {
  margin: 0;
}
.plantsMakeAContainer {
  position: absolute;
  top: 20.31rem;
  left: 9.38rem;
  display: inline-block;
  width: 42.44rem;
  height: 13.56rem;
}
.homePageChild2 {
  position: absolute;
  top: 30.31rem;
  left: 9.06rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkgreen);
  box-shadow: 10px 10px 100px #318162;
  width: 14rem;
  height: 4.63rem;
}
.knowMore {
  position: absolute;
  top: 31.56rem;
  left: 12rem;
  font-size: 1.5rem;
  color: #f5f1f1;
}
.lineIcon {
  position: absolute;
  top: 58.94rem;
  left: calc(50% - 31.5px);
  width: 3.94rem;
  height: 1.68rem;
}
.about,
.history,
.home {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 8.69rem;
  height: 3.31rem;
  flex-shrink: 0;
}
.about,
.history {
  width: 9.31rem;
  margin-left: -1.31rem;
}
.about {
  width: 8.69rem;
}
.homeParent,
.nature {
  position: absolute;
  top: 0;
}
.homeParent {
  left: 53.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nature {
  left: 0;
  font-size: var(--font-size-11xl);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-darkgreen);
  display: inline-block;
  width: 11.25rem;
  height: 3.31rem;
}
.bidownload {
  position: relative;
  width: 1.59rem;
  height: 1.59rem;
  overflow: hidden;
  flex-shrink: 0;
}
.bidownloadWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.vectorIcon {
  position: absolute;
  margin: 0 !important;
  height: 137.65%;
  width: 68.63%;
  top: 0;
  right: -160.33%;
  bottom: -37.65%;
  left: 191.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frameParent {
  position: absolute;
  top: 0.06rem;
  left: 80.25rem;
  width: 3.19rem;
  height: 1.59rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.82rem;
}
.mainTab {
  position: absolute;
  top: 1.94rem;
  left: 2.69rem;
  width: 84.69rem;
  height: 3.31rem;
  font-size: var(--font-size-6xl);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
.facebookIcon,
.instagramCircleIcon,
.twitterIcon {
  position: absolute;
  top: 48.25rem;
  left: 14.69rem;
  width: 3.13rem;
  height: 3.13rem;
  object-fit: cover;
}
.facebookIcon,
.twitterIcon {
  left: 9.38rem;
}
.twitterIcon {
  left: 20rem;
}
.homePage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 61.38rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: #132f3a;
  font-family: var(--font-nunito);
}

#first{
  /* width: 25rem; */
  height: 28rem;
}
