.page2Child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 94.5rem;
  height: 61.38rem;
}
.ellipseDiv,
.page2Child1,
.page2Inner,
.page2Item {
  position: absolute;
  top: 9.69rem;
  left: 1.31rem;
  border-radius: 50%;
  background-color: var(--color-seagreen);
  filter: blur(200px);
  width: 18.75rem;
  height: 18.75rem;
}
.ellipseDiv,
.page2Child1,
.page2Inner {
  top: 16.63rem;
  left: 41.5rem;
}
.ellipseDiv,
.page2Child1 {
  top: 30.69rem;
  left: 11.56rem;
  background-color: var(--color-sandybrown);
}
.page2Child1 {
  top: 26rem;
  left: 75rem;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 94.5rem;
  height: 61.38rem;
  object-fit: cover;
}
.istockphoto1180581523612x612Icon {
  position: absolute;
  top: 0;
  left: 42rem;
  width: 52.5rem;
  height: 21.4rem;
  object-fit: cover;
  opacity: 0.5;
}
.istockphoto1180581523612x612Icon1 {
  position: absolute;
  top: 0;
  left: 47.56rem;
  width: 35.75rem;
  height: 27.25rem;
  object-fit: cover;
}
.frameIcon {
  position: relative;
  width: 81.69rem;
  height: 30.25rem;
}
.componentForInteraction {
  position: absolute;
  top: 22.06rem;
  left: calc(50% - 652px);
  width: 81.44rem;
  height: 30.06rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.page2Child2 {
  position: absolute;
  top: 22.94rem;
  left: 47.56rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 7.75rem;
  height: 7.75rem;
}
.name {
  position: absolute;
  top: 24.75rem;
  left: 35.75rem;
  font-family: var(--font-nunito);
}
.lineIcon,
.medPlant {
  position: absolute;
  top: 44.27rem;
  left: 52.06rem;
  width: 2.5rem;
  height: 1.08rem;
}
.medPlant {
  top: 1.94rem;
  left: 2.69rem;
  font-size: var(--font-size-11xl);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-darkgreen);
  display: inline-block;
  width: 14.63rem;
  height: 3.31rem;
}
.vectorIcon {
  position: absolute;
  height: 3.56%;
  width: 2.31%;
  top: 3.87%;
  right: 3.51%;
  bottom: 92.57%;
  left: 94.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about,
.history,
.home {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 8.69rem;
  height: 3.31rem;
  flex-shrink: 0;
}
.about,
.history {
  width: 9.31rem;
  margin-left: -1.31rem;
}
.about {
  width: 8.69rem;
}
.homeParent,
.vectorIcon1 {
  position: absolute;
  overflow: hidden;
}
.homeParent {
  top: 2.38rem;
  left: 55.88rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-6xl);
  color: var(--color-gray);
}
.vectorIcon1 {
  height: 3.56%;
  width: 2.31%;
  top: 3.97%;
  right: 3.52%;
  bottom: 92.46%;
  left: 94.16%;
  max-width: 100%;
  max-height: 100%;
}
.frameChild {
  position: absolute;
  top: 0.94rem;
  left: 1.06rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  width: 10.44rem;
  height: 4.81rem;
}
.upload {
  position: absolute;
  top: 3.06rem;
  left: 5.38rem;
}
.upload1 {
  position: relative;
}
.btnUpload {
  position: absolute;
  top: 1.75rem;
  left: 2rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkgreen);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  width: 8.56rem;
  height: 3.13rem;
  display: flex;
  flex-direction: row;
  padding: 0.63rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-family: var(--font-nunito);
}
.rectangleParent {
  position: absolute;
  top: 0.88rem;
  left: calc(50% - 100px);
  width: 12.5rem;
  height: 7.5rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.13rem;
  font-family: var(--font-roboto);
}
.page2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 61.38rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
